body {
	background-color: var(--dark)!important;
	color: var(--white);
	width: 100%;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.home {
    background-color: var(--black);
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: var(--shadow-light-lg);
    width: clamp(300px, 100%, 500px);
    form {
        display: flex;
        justify-content: space-between;
        .MuiFormControl-root {
            label {
                color: var(--white);
            }
        }
        input {
            color: var(--white);
            border: 1px solid var(--dark);
            padding: 10px;
            border-radius: 5px;
            box-shadow: var(--shadow-light-sm);
            &:focus {
                outline: none;
            }
        
        }
    }
    .empty {
        margin-top: .5rem;
        text-align: center;
        height: 100%;
        width: 100%;
        font-size: 1.2rem;
    }
    ul.list {
        list-style: none;
        padding: 0;
        margin: 0;
        margin-bottom: .5rem;
        li {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px;
            margin: 10px 0;
            border-radius: 5px;
            box-shadow: var(--shadow-light-sm);
            background-color: var(--black);
            .dark {
                color: var(--white);
            }
            p {
                &.done {
                    text-decoration: line-through;
                }
            }
        }
    }
    footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: .5rem;
        ul {
            display: flex;
            justify-content: space-between;
            padding: 0;
            margin: 0;
            list-style: none;
            li {
                button {
                    color: var(--dark);
                }
            }
        }
        p.last {
            background-color: var(--light);
            padding: .5rem;
            border-radius: 0 0 5px 5px;
            width: 100%;
            background-color: var(--dark);
        }
    }
}